html {
  font-size: 12pt;
}

footer {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
  padding-top: 0px !important;
}

footer:is(.dark *) {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

h1,h2 {
  text-transform: capitalize;
}

.circle {
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 32px Arial, sans-serif;
}

hr {
  margin-top: 1em;
  margin-bottom: -1em;
  opacity: 40%;
}

#hero .hero-summary li {
  padding: 6px 0;
}

@media(max-height:1160px) {
  #hero .hero-summary {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 2rem;
  }
}

@media(max-height:1080px) {
  #hero .hero-summary {
    max-height: 520px;
  }
}

@media(max-height:880px) {
  #hero .hero-summary {
    max-height: 460px;
  }
}

@media(max-height:820px) {
  #hero .hero-summary {
    max-height: 340px;
  }
}

@media(max-height:620px) {
  #hero>div>div {
    margin-top: 0;
  }

  #hero .hero-summary {
    max-height: 320px;
    margin-top: 0;
    padding-top: 2rem;
  }
}

@media(max-height:580px) {
  #hero .hero-summary {
    max-height: 240px;
  }
}

@media(max-height:420px) {
  #hero .hero-summary {
    display: none;
  }
}

.yt-frame{
  min-height: 420px;
}

.yt-frame iframe {
  width: 100%;
  height: 100%;
}