{{ $data := . }}
{{ with $data.images.main}}
<section class="full-screen-parallax-hero-wrap bg-parallax m-0 mb-[160px] !h-[100vh] max-w-full" data-section="home">
    <div class="overlay"></div>
    <div class="container flex full-width justify-start md:justify-center h-full w-full">
      <div class="flex max-w-[1320px] min-h-[50vh] h-[90%] w-full">
            <!-- <i class="object-contain"/>-->
              {{ partial "utils/inline-image.html" (dict "image" .image "class" "object-contain ml-[50px] md:ml-[100px] lg:ml-[200px] w-full h-full md:mt-[140px]")}}
      </div>
    </div>
</section>
{{ end }}
  <section class="{{$data.id}}-section h-full -mt-[160px]">
  {{ with .slides }}
  <div class="full-width z-50 bg-gradient-to-b from-neutral-50 to-neutral-200">
      <div class="px-8 mx-auto mt-0 max-w-[1320px] flex md:gap-[30px] -translate-y-[196px]">
          <div class="{{ $data.id }} flex [&>div]:gap-[30px]">
              {{ range . }}
              <div class="rounded-lg flex flex-col !justify-between p-[20px] xl:p-[30px] border border-neutral-200 bg-neutral-50 group dark:bg-neutral-50">
                  <a class="flex flex-col justify-start" href="{{.action.link}}" target="_blank">
                    <div class="w-full h-[170px] bg-neutral-50 mb-[32px] bg-gradient-to-b from-neutral-50 to-neutral-200">
                      {{ partial "utils/inline-image.html" (dict "image" .image "alt" "{{ .title }}" "class" "object-cover rounded-2xl h-[160px] max-w-[250px] sm:max-w-[340px] fill-neutral-700") }}
                    </div>
                      <div class="flex flex-col gap-4 mb-5 bg-neutral-50 justify-center text-neutral-900">
                          <h3 class="font-bold text-xl xl:text-heading-5 text-center">{{ .title }}</h3>
                          <p>{{.summary}}</p>
                        </div>
                    </a>
                    {{ with .action}}
                    <div class="flex justify-center ">
                    <a class="inline-block max-w-[250px] sm:w-auto px-6 py-4 text-sm text-neutral-50 font-bold leading-loose bg-primary-600 hover:bg-primary-700 rounded transition duration-200"
                    href={{.link}} target ="_blank">{{.name}}</a>
                    </div>

                    {{ end }}
              </div>
              {{ end }}
          </div>
          {{ if $data.showButtons}}
          <div class="hidden md:flex items-center gap-5">
              <div
                  class="grid place-items-center border border-neutral-50 bg-primary-500 rounded-full cursor-pointer group transition-colors duration-200 w-[48px] xl:w-[64px] h-[48px] xl:h-[64px] hover:bg-neutral-50 [&>svg]:hover:fill-primary-500 prev">
                  {{ partial "utils/inline-image.html" (dict "image" "img/icons/icon-prev.svg" "name" "prev icon button" "class" "fill-neutral-50 hover:fill-primary-500" ) }}
              </div>
              <div
                  class="grid place-items-center border border-neutral-50 bg-primary-500 rounded-full cursor-pointer group transition-colors duration-200 w-[48px] xl:w-[64px] h-[48px] xl:h-[64px] hover:bg-neutral-50 [&>svg]:hover:fill-primary-500 next">
                  {{ partial "utils/inline-image.html" (dict "image" "img/icons/icon-next.svg" "name" "next icon button" "class" "fill-neutral-50 hover:fill-primary-500" ) }}
              </div>
          </div>
          {{ end }}
      </div>
      {{ if $data.showButtons}}
      <div class="flex items-center gap-5 md:hidden pt-[30px] mx-auto justify-center -mt-[80px]">
          <div
              class="grid place-items-center border border-neutral-50 bg-primary-500 rounded-full cursor-pointer group transition-colors duration-200 w-[48px] xl:w-[64px] h-[48px] xl:h-[64px] hover:bg-neutral-50 [&>svg]:hover:fill-primary-500 prev">
              {{ partial "utils/inline-image.html" (dict "image" "img/icons/icon-prev.svg" "name" "prev icon button" "class" "fill-neutral-50 hover:fill-primary-500" ) }}
          </div>
          <div
              class="grid place-items-center border border-neutral-50 bg-primary-500 rounded-full cursor-pointer group transition-colors duration-200 w-[48px] xl:w-[64px] h-[48px] xl:h-[64px] hover:bg-neutral-50 [&>svg]:hover:fill-primary-500 next">
              {{ partial "utils/inline-image.html" (dict "image" "img/icons/icon-next.svg" "name" "next icon button" "class" "fill-neutral-50 hover:fill-primary-500" ) }}
          </div>
      </div>
      {{ end }}
      <div class="dots md:!-ml-[180px] !py-[30px] {{if not $data.showButtons }} !-mt-[80px] {{ end }} [&>.active]:!bg-primary-500 md:!-mt-[180px]">
      </div>
  </div>
  {{ end }}
  <script type="text/javascript">
      window.addEventListener('load', function () {
          var slider = new Glider(document.querySelector('.{{$data.id}}'), {
              //arrows: true,
              slidesToShow: 1,
              slidesToScroll: 1,
              dots: '.{{$data.id}}-section .dots',
              draggable: true,
              duration: .5,
              {{ if $data.showButtons }}
              arrows: {
                  prev: '.{{$data.id}}-section .prev',
                  next: '.{{$data.id}}-section .next'
              },
              {{ end }}
              responsive: [
              {
                      breakpoint: 1280, //xl+
                      settings: {
                          slidesToShow: 3,
                          slidesToScroll: 1,
                      },
                  },
                  {
                      breakpoint: 768, //md+
                      settings: {
                          slidesToShow: 2,
                          slidesToScroll: 1,
                      },
                  }
              ],
          });
          slideAutoPaly(slider, '.{{$data.id}}');
      });
     
  </script>
</section>