{{ $data := . }}
<section class="py-16 full-width mt-0 bg-neutral-50 logo-cloud-simple">
    <div class="mx-auto max-w-[1320px] px-6 lg:px-8">
      <div class="mx-auto grid max-w-[1320px] items-center 
      grid-cols-1 gap-y-8 sm:grid-cols-2 lg:mx-0 xl:grid-cols-4">
        {{ range .images}}
        <div>
            <a href="{{.action}}" alt="{{.name}}" target="_blank" aria-label="{{.name}}">
            {{ partial "utils/inline-image.html" (dict "image" .image 
            "class" "col-span-2 max-h-16 w-full object-cover lg:col-span-1 fill-neutral-700 filter-grayscale stroke-neutral-700 hover:filter-drop-shadow-16" )}}
        </a>
        </div>
        {{ end }}
      </div>
    </div>
</section>