/* Cherry scheme */
:root {
  --color-neutral: 252, 237, 238;
  /* Neutral */
  --color-neutral-50: 250, 250, 250;
  --color-neutral-100: 245, 245, 245;
  --color-neutral-200: 229, 229, 229;
  --color-neutral-300: 212, 212, 212;
  --color-neutral-400: 163, 163, 163;
  --color-neutral-500: 115, 115, 115;
  --color-neutral-600: 82, 82, 82;
  --color-neutral-700: 64, 64, 64;
  --color-neutral-800: 38, 38, 38;
  --color-neutral-900: 23, 23, 23;
  /* High Risk Red */
  --color-primary-50: 247, 201, 206;
  --color-primary-100: 241, 158, 168;
  --color-primary-200: 234, 116, 129;
  --color-primary-300: 228, 73, 91;
  --color-primary-400: 220, 32, 54;
  --color-primary-500: 178, 25, 43;
  --color-primary-600: 135, 19, 33;
  --color-primary-700: 92, 13, 22;
  --color-primary-800: 49, 7, 12;
  --color-primary-900: 7, 1, 1;
    /* Green */
  --color-secondary-50: 240, 253, 244;
  --color-secondary-100: 220, 252, 231;
  --color-secondary-200: 187, 247, 208;
  --color-secondary-300: 134, 239, 172;
  --color-secondary-400: 74, 222, 128;
  --color-secondary-500: 34, 197, 94;
  --color-secondary-600: 22, 163, 74;
  --color-secondary-700: 21, 128, 61;
  --color-secondary-800: 22, 101, 52;
  --color-secondary-900: 20, 83, 45;
}
