{{ $ctx := .ctx}}
{{ $data:= .data }}
{{ with $data }}
{{ if eq .showImagesFirst true }}
<div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-{{.imageColumnCount | default 3}}">
    {{ range .details}}
    {{ with .image }}
    <article class="flex flex-col items-start justify-start">
      <div class="relative w-full">
        {{ partial "utils/image.html" (dict "image" . "class" "w-full object-cover")}}
      </div>
    </article>
    {{ end }}
    {{ end }}
</div>
{{ end }}
<div class="mx-auto mt-8 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-4 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        {{ range .details}}
    <article class="flex flex-col items-start justify-start">
      <div class="max-w-full">
        <div class="group relative">
          {{ with .title }}
          <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">{{ . }}</h3>
          {{ end }}
          {{ with .summary }}
          {{ $s:= . | $ctx.Page.RenderString (dict "display" "block") }}
          <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">{{ $s }}</p>
          {{ end }}
        </div>
      </div>
    </article>
    {{ end }}
  </div>  
  {{ with .action }}
<div class="px-0 py-8 lg:pb-0 items-center lg:flex justify-center">
    <a class="inline-block max-w-[250px] sm:w-auto px-6 py-4 text-center text-sm text-neutral-50 font-bold leading-loose bg-primary-600 hover:bg-primary-700 rounded transition duration-200"
        href={{.link}}>{{.name}}</a>
</div>
{{ end }}

  {{ end }}