{{ $ctx := .ctx }}
{{ $data:= .data }}
{{ $order := "" }}
{{ $justify := "justify-end"}}
{{ if eq .reverse true}}
{{ $order = "order-last"}}
{{ $justify = "" }}
{{ end }}
<section id={{$data.id}} class="{{$data.id}}-section  image-text">
    <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0 {{$order}} flex items-center">
                {{ partial "utils/image.html" (dict "image" .image "name" .title "class" "rounded-lg w-full object-cover") }}
            </div>
            <div class="w-full lg:w-1/2 px-4 lg:px-12">
                {{ partial "slogan.html" (dict "slogan" .slogan "class" $justify ) }}
                <div>
                    <h2 class="mb-12 text-4xl mt-3 font-bold font-heading">{{.title}}</h2>
                    {{ range .details }}
                    <div class="flex mb-6">
                        <div class="mr-5 text-nuetral-500">
                            <!-- <i class="w-5 h-5" />-->
                            {{ partial "utils/inline-image.html" (dict "image" .icon "name" .name "class" "w-5 h-5 dark:filter-white") }}
                        </div>
                        <div>
                            <h3 class="mb-2 text-2xl -mt-2 font-bold font-heading">{{ .title }}</h3>
                            {{ $s := .summary | $ctx.Page.RenderString }}
                            <p class="text-justify">{{$s | safeHTML}}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
                {{ with .action }}
                <div class="px-0 py-8 lg:pb-0 items-center lg:flex {{ $justify}}">
                    <a class="inline-block max-w-[250px] sm:w-auto px-6 py-4 text-center text-sm text-neutral-50 font-bold leading-loose bg-primary-600 hover:bg-primary-700 rounded transition duration-200" 
                href={{.link}}>{{.name}}</a>
                </div>
                {{ end }}
       
            </div>
        </div>
    </div>
</section>